body {
    /* background-color: #ffe4c1; */
    background-color: #f0f0f0;
}

main {
    padding: 0 2em;
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
    font-size: 1.4em;
}

header {
    display: flex;
    flex-direction: row;
}

.logo {
    display: block;
    margin: auto;
    max-width: 100%;
}

.name-list {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: row;

    align-items: center;

    height: 2em;
    padding: 0.1em 1em;
    margin: 1em 0;

    border-bottom: 2px solid #333;
}

.list-item h3 {
    flex-grow: 1;
}

.list-item button {
    all: unset;

    cursor: pointer;
    height: 80%;
    aspect-ratio: 1 / 1;
    background-image: url('play-button.svg');
    background-size: cover;
}

.list-item button.playing {
    background-image: url('pause-button.svg');
}

.list-item button.loading {
    background-image: url('loading-icon.svg');

    animation: spin 1s ease-in-out infinite;
}

@media screen and (width >= 900px) {
    main {
        max-width: 80ch;
        margin: auto;
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
